body {
    color: black;
    background: #f7e1b5;
    padding: 0 5em;
    margin: 0;
    font-weight: bolder;
}

h1 {
    padding: 2em 1em;
    background: #675
}

h2 {
    color: black;
    /*border-top: 1px dotted #fff;*/
    margin-top: 2em;
    font-weight: bolder;
}